<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand">Project Management Sys</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a ui-sref="dash.home"><i class="fa fa-users"></i> Users</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#project"><i class="fa fa-fw fa-bar-chart-o"></i> Projects <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="project" class="collapse">
                        <li>
                            <a ui-sref="dash.projects">Manage Projects</a>
                        </li>
                        <li>
                            <a ui-sref="dash.newProject">New Project</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#task"><i class="fa fa-tasks"></i> Tasks <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="task" class="collapse">
                        <li>
                            <a ui-sref="dash.tasks">Manage Tasks</a>
                        </li>
                        <li>
                            <a ui-sref="dash.newTask">New Task</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#resources"><i class="fa fa-folder"></i> Resources <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="resources" class="collapse">
                        <li>
                            <a ui-sref="dash.resources">Manage Resources</a>
                        </li>
                        <li>
                            <a ui-sref="dash.newResource">New Task</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div ui-view></div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->