<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Projects <small> Manage projects</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 form-group">
                <flash-message duration="99999999" show-close="true">
                </flash-message>
            </div>
        </div>

        <div class="row" cg-busy="{promise:getProjectsPromise,message:'Loading',minDuration:500,templateUrl:'/views/sharedViews/loading.html'}">
            <div class="col-md-12">
                <tbl-directive
                selected-object="project"
                templateUrl="scripts/directives/dataTable/projects/projectsTemplate.html" 
                callback="setSelectedObject(obj,action)"
                table-data="projects">
                </tbl-directive>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    <div ng-include="'scripts/directives/modal/projects/projectDetailsModal.html'"></div>
    <div ng-include="'scripts/directives/modal/projects/deleteProjectModal.html'"></div>

</div>